[submodule "Dependencies/UILayout"]
	path = Dependencies/UILayout
	url = https://github.com/mikeoliphant/UILayout
[submodule "Dependencies/OpenSongChart"]
	path = Dependencies/OpenSongChart
	url = https://github.com/mikeoliphant/OpenSongChart

[submodule "Dependencies/PitchDetect"]
	path = Dependencies/PitchDetect
	url = https://github.com/mikeoliphant/PitchDetect
